# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Large ZIP datasets
*.zip

# Project data
project_1/data.csv
project_2/chest_xray/
project_3/FGVCAircraft_Subset20/
project_4/Case 1/Case1Dataset
project_4/Case 2/Case2Dataset
project_4/Case 3/Case3Dataset

# Python virtual environments
venv/
.venv/
env/

# OS files
.DS_Store
# macOS metadata
__MACOSX/
._*
